@import "normalize.css";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html, body {
  height: 100%;
}

.mat-table {
  width: 100%
}

.mat-form-field {
  display: block !important;
}

.mat-form-field-flex {
  min-width: 300px;
}

.mat-dialog-actions {
  justify-content: flex-end;
}
