<ng-container *ngIf="loading$ | async; else loaded">
  <mat-spinner></mat-spinner>
</ng-container>
<ng-template #loaded>
  <form novalidate #form="ngForm" (ngSubmit)="form.valid && save()" *ngIf="item$ | async as item">
    <h1 mat-dialog-title>Edit user</h1>
    <div mat-dialog-content>

      <mat-form-field>
        <mat-label>Name</mat-label>
        <input
          matInput
          name="name"
          required
          maxlength="50"
          [(ngModel)]="item.name"
          #nameInput="ngModel"/>
        <mat-error *ngIf="nameInput.errors?.required">
          Field is required
        </mat-error>
        <mat-hint align="end">{{nameInput.value?.length || 0}} / 50</mat-hint>
      </mat-form-field>

      <mat-form-field>
        <mat-label>First name</mat-label>
        <input
          matInput
          name="firstName"
          required
          maxlength="50"
          [(ngModel)]="item.firstName"
          #firstNameInput="ngModel"/>
        <mat-error *ngIf="firstNameInput.errors?.required">
          Field is required
        </mat-error>
        <mat-hint align="end">{{firstNameInput.value?.length || 0}} / 50</mat-hint>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Middle name</mat-label>
        <input
          matInput
          name="middleName"
          maxlength="50"
          [(ngModel)]="item.middleName"
          #middleNameInput="ngModel"/>
        <mat-hint align="end">{{middleNameInput.value?.length || 0}} / 50</mat-hint>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Email</mat-label>
        <input
          matInput
          name="email"
          required
          maxlength="50"
          email
          [(ngModel)]="item.email"
          #emailInput="ngModel"/>
        <mat-hint align="end">{{emailInput.value?.length || 0}} / 50</mat-hint>
        <mat-error *ngIf="emailInput.errors?.required">
          Field is required
        </mat-error>
        <mat-error *ngIf="emailInput.errors?.email">
          Invalid email
        </mat-error>
      </mat-form-field>

    </div>
    <div mat-dialog-actions>
      <button type="button" mat-button color="primary" [mat-dialog-close]="null">Cancel</button>
      <button type="submit" mat-flat-button color="primary">Save</button>
    </div>
  </form>
</ng-template>
