<mat-toolbar color="primary" class="toolbar">
  <div class="selector-label">
    Current company:
  </div>
  <mat-form-field>
    <mat-select [value]="currentCompanyId$ | async" (valueChange)="changeCompany($event)">
      <mat-option *ngFor="let company of companies$ | async" [value]="company.id">{{company.name}}</mat-option>
    </mat-select>
  </mat-form-field>
</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav mode="side" opened>
    <mat-nav-list>
      <a mat-list-item routerLink="/companies">Companies</a>
      <a mat-list-item routerLink="/users">Users</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>

