:host {
  display: flex;
  flex-flow: column;
  height: 100%;

  .toolbar {
    justify-content: flex-end;

    .selector-label {
      margin-right: 16px;
    }
  }

  .mat-sidenav-container {
    flex: 1;
  }

  .mat-sidenav-content {
    padding: 16px;
  }
}
